<nav class="navbar-inverse">
</nav>

<div class="container" style="margin-top:30px">
    <ul class="nav nav-tabs">
        <li class="active"><a routerLink="">User List</a></li>
        <li><a routerLink="add">Add User</a></li>
    </ul>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>