<div class="row">

</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
				<th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Company Name</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let b of UserList; let i = index">
				<td>{{ b.id}}</td>
                <td>{{ b.name }}</td>
                <td>{{ b.email }}</td>
                <td>{{ b.address.street}} , {{ b.address.suite}} , {{ b.address.city}}</td>
                <td>{{ b.phone }}</td>
                <td>{{ b.company.name }}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeUser(i)">Remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>
